.search {
    background-color:rgb(79, 167, 207);
    display: block;
    text-align: center;
    padding-top: 2px;
}

h2{
    text-align: center;
}


.label {
    text-align:center;
    display: block;
    margin-top: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.call {
    margin: 13px;
}

.btn {
    text-align: center;
    display: inline-block;
    padding: 7px;
    margin: 18px;
    background: transparent;
    color: rgb(208, 219, 213);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: darkslategrey;
} 

.res{
    color: floralwhite;
    font-size: 15px;
}